:root {
  --header-padding: 6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 1rem;
  padding: var(--header-padding);
  border: 1px solid black;
  border-radius: 30px;
}
.header__current-temp {
  font-size: 6.5rem;
  margin-left: 3rem;
}
.header__right {
  display: grid;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  flex: 1;
  margin: 1rem;
  padding: var(--header-padding);
  border: 1px solid black;
  border-radius: 30px;
}
.header__info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 10rem;
  height: 10rem;
  stroke-width: 1.5;
}
.weather-icon--large {
  width: 12rem;
  height: 12rem;
  stroke-width: 1.25;
}

.svg-large svg {
  height: 10rem;
  width: 10rem;
}

/*# sourceMappingURL=style.css.map */
