.weather-icon {
  width: 10rem;
  height: 10rem;
  stroke-width: 1.5;

  &--large {
    width: 12rem;
    height: 12rem;
    stroke-width: 1.25;
  }
}

.svg-large svg {
  height: 10rem;
  width: 10rem;
}
