.header {
  display: flex;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    margin: 1rem;
    padding: var(--header-padding);
    border: 1px solid black;
    border-radius: 30px;
  }

  &__current-temp {
    font-size: 6.5rem;
    margin-left: 3rem;
  }

  &__right {
    display: grid;
    justify-content: space-around;
    gap: 0.5rem;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: repeat(3, auto);

    flex: 1;
    margin: 1rem;
    padding: var(--header-padding);
    border: 1px solid black;
    border-radius: 30px;
  }

  &__info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
